<h1>Edit Account</h1>

<% if @user.photo %>
	<p style="text-align:center;">
		<%= image_tag @user.photo.url(:profile) %>
	</p>
<% else %>
Upload your pic
<% end %>
<% form_for @user, :html=>{:multipart => true} do |f| %>
	<%= f.file_field :photo %>
	<%= submit_tag "Add Photo"%>
<% end %>


<% form_for @user, :html=>{:multipart => true} do |f| %>
	<ul>
		<li>
			<%= f.label :name%>
			<%= f.text_field :name %>
		</li>
	</ul>
	<%= submit_tag "Change Details"%>
<% end %>