<div style="height:150px; width:450px;margin-bottom:20px;text-align:center;">

	
		<% form_for @step,  :url => {:controller =>"steps", :action => "update", :id => @step.id}, :html =>{ :id => "add_step_description"} do |f| %>
			<%= f.text_area :description, :size=>"45x5" %>
			<input type="hidden" id="step_owner" name="step_id" value="<%= @step.id %>" />
		
			<%= submit_tag "submit", :style=>"display:block; width:100px; margin:10px 0 0 20px;" , :id=>"submit-description"%>
		<% end %>
	
	
	
</div>

<div style="height:150px; width:450px;" class="clearfix">

		<div style="float:left; width:200px; height:130px;border:1px dashed rgb(200,200,200);text-align:center; ">
		<% form_for @step.details.new , :url => {:controller =>"details", :action => "create"}, :html =>{:multipart => true} do |f| %>
			<%= f.file_field :photo, :id =>"uploadify" %>
			<input type="hidden" id="step_owner" name="step_id" value="<%= @step.id %>" />
			<!-- <img src="/images/upload_pic.png" style="cursor:pointer; margin-top:50px; margin-bottom:10px;" id="uploadify-trigger" /> -->
			<%= submit_tag "submit", :style=>"display:block; width:100px; margin:0 auto;"%>
		<% end %>
		
		</div>

		<p style="float:right; width:200px; height:130px; border:1px dashed rgb(200,200,200);text-align:center;">
			<img src="/images/upload_code.png" style="cursor:pointer; margin-top:50px;" />
		</p>


	
</div>
<% for detail in @step.details %>
	<%= image_tag detail.photo.url(:small) %>
<% end %>
