
<div id='center'>
	<%= link_to "Back to Overview", posts_url , :class => "new-step"%>

	<h2 style="margin-bottom:10px;">
		<span><%= '#' + @step.order.to_s + "/#{@post.steps.count}" %></span>
		<%= @step.title %>
	</h2>

	<%= render :partial => "editor" %>
	<div id='pic-detail' style="width:620px; ">
		<% for detail in @step.details %>
			<%= image_tag detail.photo.url(:small) %>
		<% end %>
	</div>
<br />
	
	<%= render_next_step(@step) %>
</div> <!-- EO #center -->
<div id='right'>
	<ul class="clearfix">
		This is the left of StepsController
	</ul>
</div>